### Final Project Submission

* Student name: Isiah Cruz
* Student pace: Part-Time
* Scheduled project review date/time: April 27, 2020
* Instructor name: Eli Thomas
* Blog post URL:

# Data Exploration

In [2]:
import pandas as pd #importing data analysis library under the alias pd
import numpy as np #importing scientific computation library under the alias np

In [3]:
df1 = pd.read_csv('imdb.ratings.cleaned.csv', index_col=0) #importing the cleaned IMDB ratings dataset
df2 = pd.read_csv('imdb.title.basics.cleaned.csv', index_col=0) #importing the cleaned IMDB title basics dataset

In [4]:
df3 = pd.merge(df1, df2, on='tconst', how='inner') #merge our 2 datasets with 'tconst' as our index

In [5]:
df3 = df3.sort_values(by=['averagerating','numvotes'], ascending=False)

#sort by 'Average Rating' and 'Numvotes' to detect the correlation between popularity & other factors like runtime

In [6]:
df3['numvotes'].median()

#finding the median of the 'numvotes' column to get a sense of what a good critical mass for votes may be.
#of course, a movie with a 100 rating and 1 vote will be judged differently than one with a 100 rating and 1000 votes

49.0

In [7]:
df3['numvotes'].max()

#similar to our previous code except getting a sense of the movie with the most votes

1841066

In [8]:
df3 = df3[df3.numvotes >= 49] #removing the rows where numvotes is not equal to the average of the numvotes column

In [9]:
df3 = df3.sort_values(by=['averagerating','numvotes'], ascending=False)

#re-sort the values now that only movies with a critical mass of votes are included (sorted by averagerating)

In [10]:
df3['genres'][0:25].value_counts() #examine which genres have received the highest ratings (sorted by averagerating)

Documentary                        8
Drama                              5
Comedy,Drama,Family                2
Comedy,Drama,Musical               1
Adventure,Biography,Documentary    1
Action                             1
Drama,History                      1
Biography                          1
Documentary,Music                  1
Documentary,Drama,Music            1
Comedy,Drama                       1
Comedy                             1
Biography,Drama,History            1
Name: genres, dtype: int64

In [11]:
df3 = df3[df3.start_year >= 2015]
df3.head()

#our problem statement prompts us to investigate recent movies, so let's remove movies that are 5+ years old

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres
45623,tt9537008,99,417,Gini Helida Kathe,2019,138.0,Drama
63149,tt7131622,97,5600,Once Upon a Time ... in Hollywood,2019,159.0,"Comedy,Drama"
73780,tt8718580,97,639,Eghantham,2018,125.0,Drama
44325,tt9787524,97,72,DOSED,2019,82.0,Documentary
27195,tt6058226,96,2604,Ekvtime: Man of God,2018,132.0,"Biography,Drama,History"

In [12]:
df3.to_csv('imdb.critics.csv') #saving the sorted dataset at a csv

In [13]:
df4 = df3.sort_values(by=['numvotes','averagerating'], ascending=False)
df4.head()

#re-sort the values now that only movies with a critical mass of votes are included (sorted by numvotes)

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres
60518,tt1431045,80,820847,Deadpool,2016,108.0,"Action,Adventure,Comedy"
36852,tt2488496,80,784780,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy"
3195,tt1392190,81,780910,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi"
29797,tt3659388,80,680116,The Martian,2015,144.0,"Adventure,Drama,Sci-Fi"
71879,tt4154756,85,670926,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi"

In [14]:
df4 = df4[df4.numvotes >= 49] #removing the rows where numvotes is not equal to the average of the numvotes column

In [15]:
df4 = df4[df4.start_year >= 2015]

#our problem statement prompts us to investigate recent movies, so let's remove movies that are 5+ years old

In [16]:
df4.head() #taking a look at the first 5 cells in the dataset

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres
60518,tt1431045,80,820847,Deadpool,2016,108.0,"Action,Adventure,Comedy"
36852,tt2488496,80,784780,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy"
3195,tt1392190,81,780910,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi"
29797,tt3659388,80,680116,The Martian,2015,144.0,"Adventure,Drama,Sci-Fi"
71879,tt4154756,85,670926,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi"

In [17]:
df4['genres'][0:25].value_counts() #taking stock of any consistencies across genres

Action,Adventure,Sci-Fi       8
Action,Adventure,Fantasy      6
Action,Adventure,Comedy       4
Comedy,Drama,Music            1
Action,Drama,History          1
Adventure,Animation,Comedy    1
Drama,Mystery,Sci-Fi          1
Action,Adventure,Biography    1
Adventure,Drama,Sci-Fi        1
Action,Drama,Sci-Fi           1
Name: genres, dtype: int64

In [18]:
df4.to_csv('imdb.popularity.csv') #saving the sorted dataset at a csv

## Dataset #3: Rotten Tomatoes Movie Info

In [30]:
df = pd.read_csv('rt.cleaned.csv') #importing the cleaned IMDB title basics dataset

In [31]:
df.head()

,Unnamed: 0,rating,genre,director,writer,theater_date,currency,box_office,runtime
0,827,R,Drama,Mel Gibson,Mel Gibson|Benedict Fitzgerald,2004,$,368000000,127 minutes
1,877,PG-13,Action and Adventure|Science Fiction and Fantasy,Peter Jackson,Peter Jackson|Philippa Boyens|Guillermo del To...,2012,$,303001229,170 minutes
2,1188,PG-13,Action and Adventure|Mystery and Suspense,Sam Mendes,John Logan|Robert Wade|Neal Purvis,2012,$,299300000,145 minutes
3,690,PG-13,Comedy,Jay Roach,Jim Herzfeld|John Hamburg,2004,$,279167575,118 minutes
4,1117,PG,Kids and Family|Science Fiction and Fantasy,Chris Columbus,Steve Kloves,2002,$,261835892,161 minutes

In [32]:
df = df[df.theater_date >= 2015]
df.head()

#our problem statement prompts us to investigate recent movies, so let's remove movies that are 5+ years old

,Unnamed: 0,rating,genre,director,writer,theater_date,currency,box_office,runtime
31,862,R,Comedy|Drama,NaN,Kenya Barris|Tracy Oliver,2017,$,115088305,122 minutes
34,509,PG,Animation|Kids and Family,Clay Kaytis|Fergal Reilly,Jon Vitti,2016,$,107506776,95 minutes
37,434,PG-13,Comedy,Trish Sie,Mike White|Kay Cannon,2017,$,104880310,NaN
42,1469,R,Animation|Comedy,Conrad Vernon|Greg Tiernan,Kyle Hunter|Ariel Shaffir|Seth Rogen|Evan Gold...,2016,$,97661826,89 minutes
52,1328,PG-13,Drama,Ryan Coogler,Ryan Coogler|Aaron Covington,2015,$,81157671,132 minutes

In [33]:
df = df.sort_values(by=['box_office'], ascending=False)
df.head()

,Unnamed: 0,rating,genre,director,writer,theater_date,currency,box_office,runtime
31,862,R,Comedy|Drama,NaN,Kenya Barris|Tracy Oliver,2017,$,115088305,122 minutes
34,509,PG,Animation|Kids and Family,Clay Kaytis|Fergal Reilly,Jon Vitti,2016,$,107506776,95 minutes
37,434,PG-13,Comedy,Trish Sie,Mike White|Kay Cannon,2017,$,104880310,NaN
42,1469,R,Animation|Comedy,Conrad Vernon|Greg Tiernan,Kyle Hunter|Ariel Shaffir|Seth Rogen|Evan Gold...,2016,$,97661826,89 minutes
52,1328,PG-13,Drama,Ryan Coogler,Ryan Coogler|Aaron Covington,2015,$,81157671,132 minutes

In [34]:
df['genre'][0:100].value_counts()

Drama                                                             14
Comedy                                                             4
Comedy|Drama                                                       4
Drama|Romance                                                      2
Drama|Mystery and Suspense                                         2
Animation|Comedy|Kids and Family                                   2
Horror                                                             2
Comedy|Romance                                                     2
Documentary                                                        1
Action and Adventure|Drama|Western                                 1
Drama|Horror                                                       1
Art House and International|Drama|Mystery and Suspense|Romance     1
Action and Adventure|Art House and International                   1
Animation|Comedy                                                   1
Animation|Kids and Family                                          1
Action and Adventure                                               1
Art House and International|Drama                                  1
Drama|Sports and Fitness                                           1
Action and Adventure|Art House and International|Drama             1
Name: genre, dtype: int64

In [35]:
df['director'][0:100].value_counts()

Josh Mond                     1
Brad Furman                   1
Danny Boyle                   1
Eleanor Coppola               1
Trey Edward Shults            1
Ewan McGregor                 1
Clint Eastwood                1
Guillermo del Toro            1
Ryan Coogler                  1
Michael Showalter             1
Julian Jarrold                1
Paul Thomas Anderson          1
Kelly Fremon Craig            1
Derek Cianfrance              1
Trish Sie                     1
Jocelyn Moorhouse             1
Martin McDonagh               1
Youssef Delara                1
Ash Brannon                   1
Hirokazu Koreeda              1
Lucy Walker                   1
Glenn Ficarra|John Requa      1
Ciro Guerra                   1
Steven Soderbergh             1
Stephen Bradley               1
Seth MacFarlane               1
David Mackenzie               1
Barry Levinson                1
David Gelb                    1
Dante Lam                     1
Dave McCary                   1
Conrad Vernon|Greg Tiernan    1
Mike Binder                   1
Jayro Bustamante              1
Peter Landesman               1
Todd Haynes                   1
Ben Younger                   1
Clay Kaytis|Fergal Reilly     1
Walt Becker                   1
Daniel Lee                    1
Ang Lee                       1
Name: director, dtype: int64

In [36]:
df['rating'][0:100].value_counts()

R        22
PG-13    12
PG        6
NR        3
Name: rating, dtype: int64

In [37]:
df['runtime'][0:25].value_counts()

120 minutes    2
95 minutes     2
119 minutes    2
132 minutes    2
127 minutes    1
90 minutes     1
115 minutes    1
80 minutes     1
111 minutes    1
148 minutes    1
92 minutes     1
118 minutes    1
116 minutes    1
89 minutes     1
83 minutes     1
98 minutes     1
122 minutes    1
102 minutes    1
91 minutes     1
86 minutes     1
Name: runtime, dtype: int64

In [38]:
df['theater_date'][0:100].value_counts()

2016    17
2015    13
2017    11
2018     2
Name: theater_date, dtype: int64

In [39]:
df.to_csv('rt.csv') #saving the sorted dataset at a csv