### Final Project Submission

* Student name: Isiah Cruz
* Student pace: Part-Time
* Scheduled project review date/time: April 27, 2020
* Instructor name: Eli Thomas
* Blog post URL:

# Data Exploration

In [3]:
import pandas as pd #importing data analysis library under the alias pd
import numpy as np #importing scientific computation library under the alias np

In [50]:
df1 = pd.read_csv('imdb.ratings.cleaned.csv', index_col=0) #importing the cleaned IMDB ratings dataset
df2 = pd.read_csv('imdb.title.basics.cleaned.csv', index_col=0) #importing the cleaned IMDB title basics dataset
df5 = pd.read_csv('rt.cleaned.csv', index_col=0) #importing the cleaned IMDB title basics dataset

## Datasets #1 & #2: IMDB Ratings & IMDB Basics

In [4]:
df3 = pd.merge(df1, df2, on='tconst', how='inner') #merge our 2 datasets with 'tconst' as our index

In [5]:
df3 = df3.sort_values(by=['averagerating','numvotes'], ascending=False)

#sort by 'Average Rating' and 'Numvotes' to detect the correlation between popularity & other factors like runtime

In [6]:
df3['numvotes'].median()

#finding the median of the 'numvotes' column to get a sense of what a good critical mass for votes may be.
#of course, a movie with a 100 rating and 1 vote will be judged differently than one with a 100 rating and 1000 votes

49.0

In [7]:
df3['numvotes'].max()

#similar to our previous code except getting a sense of the movie with the most votes

1841066

In [8]:
df3 = df3[df3.numvotes >= 49] #removing the rows where numvotes is not equal to the average of the numvotes column

In [9]:
df3 = df3.sort_values(by=['averagerating','numvotes'], ascending=False)

#re-sort the values now that only movies with a critical mass of votes are included (sorted by averagerating)

In [10]:
df3['genres'][0:25].value_counts() #examine which genres have received the highest ratings (sorted by averagerating)

Documentary                        8
Drama                              5
Comedy,Drama,Family                2
Comedy,Drama,Musical               1
Adventure,Biography,Documentary    1
Action                             1
Drama,History                      1
Biography                          1
Documentary,Music                  1
Documentary,Drama,Music            1
Comedy,Drama                       1
Comedy                             1
Biography,Drama,History            1
Name: genres, dtype: int64

In [11]:
df3 = df3[df3.start_year >= 2015]
df3.head()

#our problem statement prompts us to investigate recent movies, so let's remove movies that are 5+ years old

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres
45623,tt9537008,99,417,Gini Helida Kathe,2019,138.0,Drama
63149,tt7131622,97,5600,Once Upon a Time ... in Hollywood,2019,159.0,"Comedy,Drama"
73780,tt8718580,97,639,Eghantham,2018,125.0,Drama
44325,tt9787524,97,72,DOSED,2019,82.0,Documentary
27195,tt6058226,96,2604,Ekvtime: Man of God,2018,132.0,"Biography,Drama,History"

In [12]:
df3.to_csv('imdb.critics.csv') #saving the sorted dataset at a csv

In [13]:
df4 = df3.sort_values(by=['numvotes','averagerating'], ascending=False)
df4.head()

#re-sort the values now that only movies with a critical mass of votes are included (sorted by numvotes)

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres
60518,tt1431045,80,820847,Deadpool,2016,108.0,"Action,Adventure,Comedy"
36852,tt2488496,80,784780,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy"
3195,tt1392190,81,780910,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi"
29797,tt3659388,80,680116,The Martian,2015,144.0,"Adventure,Drama,Sci-Fi"
71879,tt4154756,85,670926,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi"

In [14]:
df4 = df4[df4.numvotes >= 49] #removing the rows where numvotes is not equal to the average of the numvotes column

In [15]:
df4 = df4[df4.start_year >= 2015]

#our problem statement prompts us to investigate recent movies, so let's remove movies that are 5+ years old

In [16]:
df4.head() #taking a look at the first 5 cells in the dataset

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres
60518,tt1431045,80,820847,Deadpool,2016,108.0,"Action,Adventure,Comedy"
36852,tt2488496,80,784780,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy"
3195,tt1392190,81,780910,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi"
29797,tt3659388,80,680116,The Martian,2015,144.0,"Adventure,Drama,Sci-Fi"
71879,tt4154756,85,670926,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi"

In [17]:
df4['genres'][0:25].value_counts() #taking stock of any consistencies across genres

Action,Adventure,Sci-Fi       8
Action,Adventure,Fantasy      6
Action,Adventure,Comedy       4
Comedy,Drama,Music            1
Action,Drama,History          1
Adventure,Animation,Comedy    1
Drama,Mystery,Sci-Fi          1
Action,Adventure,Biography    1
Adventure,Drama,Sci-Fi        1
Action,Drama,Sci-Fi           1
Name: genres, dtype: int64

In [18]:
df4.to_csv('imdb.popularity.csv') #saving the sorted dataset at a csv

## Dataset #3: Rotten Tomatoes Movie Info

In [32]:
df5.head() #saving the cleaned dataset at a csv

,rating,genre,director,writer,theater_date,currency,box_office,runtime
1,R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,2012,$,600000,108 minutes
6,PG-13,Comedy,Jake Kasdan,Mike White,2002,$,41032915,82 minutes
7,R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,2006,$,224114,123 minutes
8,R,Drama,Taylor Hackford,Mark Jacobson,2010,$,134904,117 minutes
15,R,Comedy|Drama|Mystery and Suspense,George Hickenlooper,Norman Snider,2010,$,1039869,108 minutes

In [33]:
df5 = df5[df5.theater_date >= 2015]
df5.head()

#our problem statement prompts us to investigate recent movies, so let's remove movies that are 5+ years old

,rating,genre,director,writer,theater_date,currency,box_office,runtime
76,R,Drama|Sports and Fitness,Ben Younger,Ben Younger,2016,$,5051927,116 minutes
159,PG-13,Drama|Romance,Derek Cianfrance,Derek Cianfrance,2016,$,12533911,132 minutes
190,R,Drama|Romance,Todd Haynes,Phyllis Nagy,2015,$,8518148,118 minutes
207,R,Action and Adventure|Drama|Western,NaN,NaN,2016,$,976847,97 minutes
247,R,Horror,Guillermo del Toro,Guillermo del Toro|Matthew Robbins|Lucinda Coxon,2015,$,25957696,119 minutes

In [34]:
df5 = df5.sort_values(by=['box_office'], ascending=False)
df5.head()

#sorting the 'box_office' column in descending order

,rating,genre,director,writer,theater_date,currency,box_office,runtime
862,R,Comedy|Drama,NaN,Kenya Barris|Tracy Oliver,2017,$,115088305,122 minutes
509,PG,Animation|Kids and Family,Clay Kaytis|Fergal Reilly,Jon Vitti,2016,$,107506776,95 minutes
434,PG-13,Comedy,Trish Sie,Mike White|Kay Cannon,2017,$,104880310,NaN
1469,R,Animation|Comedy,Conrad Vernon|Greg Tiernan,Kyle Hunter|Ariel Shaffir|Seth Rogen|Evan Gold...,2016,$,97661826,89 minutes
1328,PG-13,Drama,Ryan Coogler,Ryan Coogler|Aaron Covington,2015,$,81157671,132 minutes

In [35]:
df5['genre'][0:100].value_counts(normalize=True)

#investigating the distribution percentage across different factors

Drama                                                             0.325581
Comedy|Drama                                                      0.093023
Comedy                                                            0.093023
Horror                                                            0.046512
Animation|Comedy|Kids and Family                                  0.046512
Drama|Mystery and Suspense                                        0.046512
Drama|Romance                                                     0.046512
Comedy|Romance                                                    0.046512
Action and Adventure                                              0.023256
Animation|Comedy                                                  0.023256
Documentary                                                       0.023256
Drama|Sports and Fitness                                          0.023256
Action and Adventure|Drama|Western                                0.023256
Art House and International|Drama|Mystery and Suspense|Romance    0.023256
Action and Adventure|Art House and International                  0.023256
Action and Adventure|Art House and International|Drama            0.023256
Animation|Kids and Family                                         0.023256
Drama|Horror                                                      0.023256
Art House and International|Drama                                 0.023256
Name: genre, dtype: float64

In [36]:
df5['director'][0:100].value_counts(normalize=True)

#investigating the distribution percentage across different factors

Paul Thomas Anderson          0.02439
Guillermo del Toro            0.02439
Mike Binder                   0.02439
Julian Jarrold                0.02439
Dante Lam                     0.02439
Clay Kaytis|Fergal Reilly     0.02439
Steven Soderbergh             0.02439
Trish Sie                     0.02439
Todd Haynes                   0.02439
Stephen Bradley               0.02439
Eleanor Coppola               0.02439
Danny Boyle                   0.02439
Ewan McGregor                 0.02439
Jayro Bustamante              0.02439
Dave McCary                   0.02439
Walt Becker                   0.02439
Barry Levinson                0.02439
Derek Cianfrance              0.02439
Ryan Coogler                  0.02439
Kelly Fremon Craig            0.02439
Youssef Delara                0.02439
Daniel Lee                    0.02439
Trey Edward Shults            0.02439
Brad Furman                   0.02439
Ash Brannon                   0.02439
Peter Landesman               0.02439
Glenn Ficarra|John Requa      0.02439
Martin McDonagh               0.02439
David Gelb                    0.02439
Ang Lee                       0.02439
Josh Mond                     0.02439
Michael Showalter             0.02439
Hirokazu Koreeda              0.02439
Clint Eastwood                0.02439
Conrad Vernon|Greg Tiernan    0.02439
David Mackenzie               0.02439
Ciro Guerra                   0.02439
Jocelyn Moorhouse             0.02439
Seth MacFarlane               0.02439
Ben Younger                   0.02439
Lucy Walker                   0.02439
Name: director, dtype: float64

In [44]:
df5['rating'][0:100].value_counts(normalize=True)

#investigating the distribution percentage across different factors

R        0.511628
PG-13    0.279070
PG       0.139535
NR       0.069767
Name: rating, dtype: float64

In [45]:
df5['runtime'][0:25].value_counts(normalize=True)

#investigating the distribution percentage across different factors

95 minutes     0.083333
120 minutes    0.083333
119 minutes    0.083333
132 minutes    0.083333
89 minutes     0.041667
86 minutes     0.041667
91 minutes     0.041667
122 minutes    0.041667
115 minutes    0.041667
90 minutes     0.041667
80 minutes     0.041667
148 minutes    0.041667
118 minutes    0.041667
127 minutes    0.041667
83 minutes     0.041667
98 minutes     0.041667
102 minutes    0.041667
111 minutes    0.041667
116 minutes    0.041667
92 minutes     0.041667
Name: runtime, dtype: float64

In [42]:
df5['theater_date'][0:100].value_counts(normalize=True)

#investigating the distribution percentage across different factors

2016    0.395349
2015    0.302326
2017    0.255814
2018    0.046512
Name: theater_date, dtype: float64

In [51]:
df5.head()

,rating,genre,director,writer,theater_date,currency,box_office,runtime
1,R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,2012,$,600000,108 minutes
6,PG-13,Comedy,Jake Kasdan,Mike White,2002,$,41032915,82 minutes
7,R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,2006,$,224114,123 minutes
8,R,Drama,Taylor Hackford,Mark Jacobson,2010,$,134904,117 minutes
15,R,Comedy|Drama|Mystery and Suspense,George Hickenlooper,Norman Snider,2010,$,1039869,108 minutes

In [46]:
df5.to_csv('rt.csv') #saving the sorted dataset at a csv