### Final Project Submission

* Student name: Isiah Cruz
* Student pace: Part-Time
* Scheduled project review date/time: April 27, 2020
* Instructor name: Eli Thomas
* Blog post URL:

# Data Exploration

In [2]:
import pandas as pd #importing data analysis library under the alias pd
import numpy as np #importing scientific computation library under the alias np

In [6]:
df1 = pd.read_csv('imdb.ratings.cleaned.csv', index_col=0) #importing the cleaned IMDB ratings dataset
df2 = pd.read_csv('imdb.title.basics.cleaned.csv', index_col=0) #importing the cleaned IMDB title basics dataset

In [7]:
df3 = pd.merge(df1, df2, on='tconst', how='inner') #merge our 2 datasets with 'tconst' as our index

In [11]:
df3 = df3.sort_values(by=['averagerating','numvotes'], ascending=False)

#sort by 'Average Rating' and 'Numvotes' to detect the correlation between popularity & other factors like runtime

In [12]:
df3['numvotes'].median()

#finding the median of the 'numvotes' column to get a sense of what a good critical mass for votes may be.
#of course, a movie with a 100 rating and 1 vote will be judged differently than one with a 100 rating and 1000 votes

49.0

In [13]:
df3['numvotes'].max()

#similar to our previous code except getting a sense of the movie with the most votes

1841066

In [14]:
df3 = df3[df3.numvotes >= 49] #removing the rows where numvotes is not equal to the average of the numvotes column

In [15]:
df3 = df3.sort_values(by=['averagerating','numvotes'], ascending=False)

#re-sort the values now that only movies with a critical mass of votes are included (sorted by averagerating)

In [16]:
df3['genres'][0:25].value_counts() #examine which genres have received the highest ratings (sorted by averagerating)

Documentary                        8
Drama                              5
Comedy,Drama,Family                2
Biography,Drama,History            1
Documentary,Drama,Music            1
Action                             1
Documentary,Music                  1
Biography                          1
Comedy,Drama,Musical               1
Comedy,Drama                       1
Drama,History                      1
Comedy                             1
Adventure,Biography,Documentary    1
Name: genres, dtype: int64

In [17]:
df3 = df3[df3.start_year >= 2015]
df3.head()

#our problem statement prompts us to investigate recent movies, so let's remove movies that are 5+ years old

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres
45623,tt9537008,99,417,Gini Helida Kathe,2019,138.0,Drama
63149,tt7131622,97,5600,Once Upon a Time ... in Hollywood,2019,159.0,"Comedy,Drama"
73780,tt8718580,97,639,Eghantham,2018,125.0,Drama
44325,tt9787524,97,72,DOSED,2019,82.0,Documentary
27195,tt6058226,96,2604,Ekvtime: Man of God,2018,132.0,"Biography,Drama,History"

In [18]:
df3.to_csv('imdb.critics.csv') #saving the sorted dataset at a csv

In [22]:
df4 = df3.sort_values(by=['numvotes','averagerating'], ascending=False)
df4.head()

#re-sort the values now that only movies with a critical mass of votes are included (sorted by numvotes)

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres
60518,tt1431045,80,820847,Deadpool,2016,108.0,"Action,Adventure,Comedy"
36852,tt2488496,80,784780,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy"
3195,tt1392190,81,780910,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi"
29797,tt3659388,80,680116,The Martian,2015,144.0,"Adventure,Drama,Sci-Fi"
71879,tt4154756,85,670926,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi"

In [23]:
df4 = df4[df4.numvotes >= 49] #removing the rows where numvotes is not equal to the average of the numvotes column

In [24]:
df4 = df4[df4.start_year >= 2015]

#our problem statement prompts us to investigate recent movies, so let's remove movies that are 5+ years old

In [27]:
df4.head() #taking a look at the first 5 cells in the dataset

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres
60518,tt1431045,80,820847,Deadpool,2016,108.0,"Action,Adventure,Comedy"
36852,tt2488496,80,784780,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy"
3195,tt1392190,81,780910,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi"
29797,tt3659388,80,680116,The Martian,2015,144.0,"Adventure,Drama,Sci-Fi"
71879,tt4154756,85,670926,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi"

In [30]:
df4['genres'][0:25].value_counts() #taking stock of any consistencies across genres

Action,Adventure,Sci-Fi       8
Action,Adventure,Fantasy      6
Action,Adventure,Comedy       4
Comedy,Drama,Music            1
Action,Adventure,Biography    1
Action,Drama,Sci-Fi           1
Drama,Mystery,Sci-Fi          1
Adventure,Drama,Sci-Fi        1
Adventure,Animation,Comedy    1
Action,Drama,History          1
Name: genres, dtype: int64

In [31]:
df4.to_csv('imdb.popularity.csv') #saving the sorted dataset at a csv